<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="BodyMailOne" value="&lt;p&gt;Dear {0},Thank you for submitting your inquiry. Our staff will reply to your inquiry as soon as possible. We do make every effort to provide an informative, detailed response to every inquiry we receive and strive to do so within two or three business days, though sometimes it may take longer.&lt;p/&gt;&lt;p&gt;If this is an urgent matter, please call us at 1-800-637-4636. &lt;p/&gt;&lt;p&gt;&lt;b&gt;Inquiry Category:&lt;/b&gt; {1}&lt;p/&gt;&lt;p&gt;&lt;b&gt;Inquiry:&lt;/b&gt;&lt;br /&gt;{2}&lt;p/&gt;Thank You,&lt;br/&gt;SEIUMB Member Benefits" />
      <setting name="BodyMailTwo" value="The following web inquiry has been received from {0}. This was sent via SMTP because ExactTarget was unavailable. Please let the Digital Properties Team know that Exact Target is unavailable.&lt;br/&gt;&lt;br/&gt; &lt;b&gt;MDS ID:&lt;/b&gt; {1}&lt;br/&gt; &lt;i&gt;(if blank, the person may not be in MDS)&lt;/i&gt; &lt;br/&gt;&lt;br/&gt; &lt;p&gt;Name: {2}&lt;/p&gt; &lt;p&gt;Email: {3}&lt;/p&gt; &lt;p&gt;Phone: {4}&lt;/p&gt; &lt;p&gt;Local: {5}&lt;/p&gt; &lt;p&gt;state: {6}&lt;/p&gt; &lt;p&gt;Topic: {7}&lt;/p&gt; &lt;p&gt;Message: {8}&lt;/p&gt;" />
      <setting name="ExacttargetResetPasswordCellcodeEn" value="TG001449" />
      <setting name="ExacttargetResetPasswordCellcodeEs" value="TG001450" />
      <setting name="ExacttargetResetPasswordCellcodeUserLocked" value="TG001475" />
      <setting name="ExacttargetResetPasswordCampaignCd" value="TGS01131" />

      <setting name="ExacttargetChangeUsernameNewCellCodeEN" value="TG001443" />
      <setting name="ExacttargetChangeUsernameNewCellCodeES" value="TG001444" />
      <setting name="ExacttargetChangeUsernameOldCellCodeEN" value="TG001473" />
      <setting name="ExacttargetChangeUsernameOldCellCodeES" value="TG001474" />
      
      <setting name="ExacttargetResetPasswordCustomerDefinition" value="TGS01131A-SENDSEIU" />
      <setting name="ExacttargetChangeUsernameCustomerDefinition" value="TGS01131B-SENDSEIU" />
      <setting name="ExacttargetDeleteRegistrationCustomerDefinition" value="TGS01131C-SENDSEIU" />
      <setting name="ExacttargetRegistrationCellCodeCurrYesEN" value="TG001459" />
      <setting name="ExacttargetRegistrationCellCodeCurrYesES" value="TG001460" />
      <setting name="ExacttargetRegistrationCellCodeCurrNoEN" value="TG001457" />
      <setting name="ExacttargetRegistrationCellCodeCurrNoES" value="TG001458" />
      <setting name="ExacttargetRegistrationCellCodeRestricedLocalES" value="TG001466" />
      <setting name="ExacttargetRegistrationCellCodeRestricedLocalEN" value="TG001465" />
      <setting name="ExacttargetRegistrationCustomerDefinition" value="TGS01132-SENDSEIU" />
	</settings>
    <pipelines>
      <initialize>
        <processor type="Neambc.Seiumb.Feature.Forms.Pipelines.RegisterWebApiRoutes, Neambc.Seiumb.Feature.Forms" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"></processor>
      </initialize>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <custom-query>
            <processor type="Neambc.Seiumb.Feature.Forms.Pipelines.GetCustomData, Neambc.Seiumb.Feature.Forms" />
          </custom-query>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <custom>
            <processor type="Neambc.Seiumb.Feature.Forms.Pipelines.ConstructCustomDataTable, Neambc.Seiumb.Feature.Forms" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">custom-query</param>
            </processor>
            <processor type="Neambc.Seiumb.Feature.Forms.Pipelines.PopulateCustomData, Neambc.Seiumb.Feature.Forms" />
          </custom>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
