<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>      
      <setting name="NeambcEndpoint" value="http://172.16.15.187:8080/axis2/services/AccountManagement.AccountManagementHttpSoap11Endpoint/"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <setting name="PDFFactoryEndPoint" value="http://172.16.15.187:8080/axis2/services/PdfFactory.PdfFactoryHttpSoap11Endpoint/" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <setting name="EligibilityEndPoint" value="http://172.16.15.187:8080/axis2/services/seiumb.seiumbHttpSoap11Endpoint/" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </settings>
  </sitecore>
</configuration>