<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="DataLayerFunction" value="dataLayerPush" />
    </settings>
    <pipelines>     
      <renderField>
        <processor
          type="Neambc.Seiumb.Foundation.Analytics.Pipelines.GetFieldValue, Neambc.Seiumb.Foundation.Analytics"
          patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetFieldValue, Sitecore.Kernel']" resolve="true"/>
      </renderField>
    </pipelines>
    <services>
      <register serviceType="Neambc.Seiumb.Foundation.Analytics.GTM.IGTMServiceSeiumb, Neambc.Seiumb.Foundation.Analytics" implementationType="Neambc.Seiumb.Foundation.Analytics.GTM.GTMServiceSeiumb, Neambc.Seiumb.Foundation.Analytics" />
      <register serviceType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.Interfaces.IProductDetailsProcessor, Neambc.Seiumb.Foundation.Analytics" implementationType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.ProductDetailsProcessor, Neambc.Seiumb.Foundation.Analytics" />
      <register serviceType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.Interfaces.IMiscellaneousPagesProcessor, Neambc.Seiumb.Foundation.Analytics" implementationType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.MiscellaneousPagesProcessor, Neambc.Seiumb.Foundation.Analytics" />
      <register serviceType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.Interfaces.ILandingPageProcessor, Neambc.Seiumb.Foundation.Analytics" implementationType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.LandingPageProcessor, Neambc.Seiumb.Foundation.Analytics" />
      <register serviceType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.Interfaces.IErrorPageProcessor, Neambc.Seiumb.Foundation.Analytics" implementationType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.ErrorPageProcessor, Neambc.Seiumb.Foundation.Analytics" />
      <register serviceType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.Interfaces.IRailCardProcessor, Neambc.Seiumb.Foundation.Analytics" implementationType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.RailCardProcessor, Neambc.Seiumb.Foundation.Analytics" />
      <register serviceType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.Interfaces.IHomePageProcessor, Neambc.Seiumb.Foundation.Analytics" implementationType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.HomePageProcessor, Neambc.Seiumb.Foundation.Analytics" />
      <register serviceType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.Interfaces.IHtmlProcessor, Neambc.Seiumb.Foundation.Analytics" implementationType="Neambc.Seiumb.Foundation.Analytics.GTM.Processors.HtmlProcessor, Neambc.Seiumb.Foundation.Analytics" />
      <register serviceType="Neambc.Neamb.Foundation.MBCData.Repositories.ITokenizationServiceSeiumb, Neambc.Neamb.Foundation.MBCData" implementationType="Neambc.Seiumb.Foundation.Authentication.Services.TokenizationServiceSeiumb, Neambc.Seiumb.Foundation.Authentication" />
    </services>
  </sitecore>
</configuration>
