<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!--xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <schema name="SC.Analytics.Collection.Model" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
            <param desc="modeltype">Neambc.Neamb.Foundation.MBCData.Utilities.CustomFacetCollectionModel, Neambc.Neamb.Foundation.MBCData</param>
          </schema>
        </schemas>
      </runtime>
    </xconnect-->
		<settings>
			<setting name="NeambcPartner" value="awsuserapi" />
			<setting name="NeambcKey" value="clopper900" />
			<setting name="UnionIDNeambc" value="1" />
			<setting name="MatchroutineidentifierNeambc" value="" />
			<setting name="ServiceTimeOut" value="20" />
			<setting name="ExacttargetUsername" value="NEA_MB_API" />
			<setting name="ExacttargetPassword" value="NEA_MB@1" />
			<setting name="ExacttargetEndPoint" value="https://mc71vg027km1wphy7-4k57j82yc4.soap.marketingcloudapis.com/Service.asmx" />
			<setting name="ExacttargetClientId" value="1059716" />
			<setting name="Webusersource" value="02" />
			<setting name="ExactTargetUpdateSubscriberKey" value="true" />
			<setting name="Unionid" value="1" />
			<setting name="EnrollmentServiceUser" value="NEAQXWebservice" />
			<setting name="EnrollmentServicePassword" value="2015NEAQX!" />
			<setting name="AfiniumEncryptDecryptPassword" value="afinium:nea:aes:partner:secret!" />
			<setting name="MercerEncryptDecryptPassword" value="mercer:nea:aes:partner:secret!" />
			<setting name="MercerEncryptDecryptSalt" value="some:salt:for:your:encrypted:meal:enjoy!" />
			<setting name="AESPasswordInteractions" value="65536" />
			<setting name="AESKeySize" value="256" />
			<setting name="NewslettersId" value="{4EF37EC2-6DE8-4F56-BD7A-2F266DA9D48A}" />
			<setting name="NewsletterCtaId" value="{168FD1DD-1676-4004-8E76-389FDA1A8A27}" />
			<setting name="BucketNameAvatarImages" value="neamb-avatar-dev" />
			<setting name="CatpchaUrl" value="https://www.google.com/recaptcha/api/siteverify" />
			<setting name="CatpchaSecret" value="6LcgH0EhAAAAAO8zqlwMKP5gy6K6ogMriFeuKj02" />
			<setting name="CaptchaKey" value="6LcgH0EhAAAAAF2ZfEEt6OoVENKkwQg8CEIzTfDT" />
			<setting name="CaptchaSecretSeiumb" value="6LeNH0EhAAAAAKifyqCBfUk3V7BQqMXOPO8J602W" />
			<setting name="CaptchaKeySeiumb" value="6LeNH0EhAAAAALO0PA6zV2IoLw9VKlAKtdzZy0U2" />
			<setting name="BucketNameContestImages" value="neamb-contest-dev" />
			<setting name="DefaultCloudFrontDistributionId" value="E1XYCC77A22DDI" />
			<setting name="EnableDataExtensionRequest" value="true" />
			<setting name="ExpirationHoursSeminaries" value="2" />
			<setting name="EnableCustomFacets" value="true" />
			<setting name="RestUrl" value="https://apidev.mbctech.net" />
			<setting name="RestUserAuthentication" value="websites" />
			<setting name="RestPasswordAuthentication" value="ffFElqmdNNCpG12A" />
			<setting name="RestUrlProductEligibility" value="/product-eligibility/v1/neamb" />
			<setting name="LifetimeAccessTokenMinutes" value="-15" />
			<setting name="RestUrlProductEligibilitySeiumb" value="/product-eligibility/v1/seiumb" />
			<setting name="RestUrlCompIntroEligibility" value="/product-eligibility/v1/neamb/comp-intro" />
			<setting name="RestUrlRakutenMemberCreation" value="https://rc1-www.rakuten.com/api/v3/partner/20/member" />
			<setting name="RestUrlRakutenMemberCreationSEIU" value="https://rc1-www.rakuten.com/api/v3/partner/24/member" />
			<setting name="RakutenLocale" value="en_US" />
			<setting name="RakutenSignature" value="9zet9hzKRKQRhVaLmf4PGN5LUWqwSRLb" />
			<setting name="RakutenSEIUSignature" value="x0o73jHD4gmOhm9iM9add7HypfaF9IbW" />
			<setting name="RakutenMemberSource" value="NEA" />
			<setting name="RakutenSEIUMemberSource" value="SEI" />
			<setting name="RestUrlUpdateUserName" value="/account-management/v1/update-username" />
			<setting name="RestUrlUpdateUser" value="/account-management/v1/update-user" />
			<setting name="RestUrlSearchUserName" value="/account-management/v1/search-username" />
			<setting name="RestUrlRetrieveUser" value="/account-management/v1/retrieve-user" />
			<setting name="AfiniumAESPassword" value="AbZQ7U8CGlga4R3Z" />
			<setting name="MercerAESPassword" value="ev0zrGGvzks80wyt" />
			<setting name="AfiniumAESSalt" value="k03XmsfE0HqyxayB" />
			<setting name="MercerAESSalt" value="k5G91TEV8XDFlBE2" />
			<setting name="RestUrlLogin" value="/account-management/v1/login-user" />
			<setting name="RestUrlUpdatePassword" value="/account-management/v1/update-password" />
			<setting name="RestUrlForgotUserName" value="/account-management/v1/forgot-username" />
			<setting name="RestUrlValidateEmailDomain" value="/account-management/v1/validate-username-domain" />
			<setting name="RestUrlDeleteUser" value="/account-management/v1/delete-user" />
			<setting name="RestUrlAuthenticatePassword" value="/account-management/v1/authenticate-password" />
			<setting name="RestUrlResetPassword" value="/account-management/v1/reset-password" />
			<setting name="RestUrlRegisterUser" value="/account-management/v1/register-user" />
			<setting name="RestUrlUpdateUserStatus" value="/account-management/v1/update-user-status" />
			<setting name="RestUrlCreateResetToken" value="/account-management/v1/create-reset-token" />
			<setting name="RestUrlValidateResetToken" value="/account-management/v1/validate-reset-token" />
			<setting name="RestUrlCancelResetToken" value="/account-management/v1/cancel-reset-token" />
			<setting name="RestUrlEfulfillment" value="/product-management/v1/efulfillment" />
			<setting name="RestUrlAESEncrypt" value="/security-management/v1/aes/encrypt" />
			<setting name="RestUrlAESDecrypt" value="/security-management/v1/aes/decrypt" />
			<setting name="RestUrlICEGetBalance" value="/partner-management/v1/ice/get-balance" />
		</settings>
		<log4net>
			<appender name="ExactTargetLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/ExactTarget.log.{date}.txt"/>
				<appendToFile value="true"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
				</layout>
			</appender>
			<logger name="Sitecore.Diagnostics.ExactTarget" additivity="false">
				<level value="DEBUG"/>
				<appender-ref ref="ExactTargetLogFileAppender"/>
				<appender-ref ref="LogglyAppender"/>
			</logger>
		</log4net>
		<services>
			<register
			  serviceType="Amazon.CloudFront.IAmazonCloudFront, AWSSDK.CloudFront"
			  implementationType="Amazon.CloudFront.AmazonCloudFrontClient, AWSSDK.CloudFront"
			  lifetime="Transient"/>
		</services>
	</sitecore>
</configuration>
