<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Neambc.Seiumb.Project.Web" 
					description="Neambc.Seiumb.Project.Web templates and renderings"
          dependencies="Neambc.Seiumb.Foundation.*"
				>
          <targetDataStore
            physicalRootPath="$(projectFolder)\Web\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/SEIUMB/Project/Web"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/SEIUMB/Project/Web"/>
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/SEIUMB/Project/Web" />
            <include name="Content" database="master" path="/sitecore/content/NEAMBC" />
            <include name="GeneralContent" database="master" path="/sitecore/templates/SEIUMB/Feature/GeneralContent"/>
            <include name="GeneralContentRenderings" database="master" path="/sitecore/layout/Renderings/SEIUMB/Feature/GeneralContent"/>
            <include name="Rules" database="master" path="/sitecore/system/Settings/Rules"/>
            <include name="Workflow" database="master" path="/sitecore/system/Workflows/SEIUMB Workflow"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
