<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<sitecore>
		<analyticsExcludeRobots>
			<!--List of ip addresses of search engines. Requests from following addresses will be ignored by Analytics.
    Supported values and formates:
    IP address, e.g. 10.2.3.4
    IP range, e.g. 10.1.2.3 - 10.1.2.30
    Subnet, e.g. 10.2.3.*
    Use # for comments
    See http://iplists.com/ for updates
    -->
			<excludedIPAddresses xdt:Transform="Insert">
				205.134.237.2
				192.168.2.*
				192.168.160.*
				192.168.140.*
				10.196.75.*
				10.196.74.*
				10.196.76.*
			</excludedIPAddresses>
		</analyticsExcludeRobots>
	</sitecore>
</configuration>