<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
					name="Neambc.Neamb.Foundation.Analytics"
					description="Neambc.Neamb.Foundation.Analytics templates and renderings"
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Neamb.Analytics\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/NEAMB/Foundation/Neamb_Analytics"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/NEAMB/Foundation/Neamb_Analytics"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
