<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Neambc.Neamb.Feature.Rakuten.Pipelines.RegisterRakutenWebApiRoutes, Neambc.Neamb.Feature.Rakuten"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']">
        </processor>
      </initialize>
    </pipelines>
    <settings>
      <setting name="ProductCodeStores" value="486 01" />
      <setting name="RakutenCategoriesParentID" value="{BA4DCA08-06E3-4F03-BA75-426888A76668}" />
    </settings>
  </sitecore>
</configuration>
