<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <!--model>
      <elements>
        <element interface="Neambc.Seiumb.Foundation.Authentication.Utilities.ICustomContact, Neambc.Seiumb.Foundation.Authentication"
                 implementation="Neambc.Seiumb.Foundation.Authentication.Utilities.CustomContact, Neambc.Seiumb.Foundation.Authentication"/>
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="CustomContact" contract="Neambc.Seiumb.Foundation.Authentication.Utilities.ICustomContact, Neambc.Seiumb.Foundation.Authentication"/>
          </facets>
        </contact>
      </entities>
    </model-->
    <seiumb>
      <partnerConfiguration type="Neambc.Seiumb.Foundation.Authentication.Managers.PartnerFactoryConfiguration, Neambc.Seiumb.Foundation.Authentication">
        <partners hint="raw:AddPartner">
          <partner partnerType="1">
            <programCodes>
              <programCode>486 03</programCode>
            </programCodes>
            <ctas>
              <cta ctaType ="1">
                <url>https://seiumb.affinityperks.com/gateway/neaid</url>
                <defaultReturnUrl></defaultReturnUrl>
              </cta>
              <cta ctaType ="2">
                <url>https://seiumb.affinityperks.com/gateway/neaid</url>
                <defaultReturnUrl></defaultReturnUrl>
              </cta>
            </ctas>
          </partner>
          <partner partnerType="2">
            <programCodes>
              <programCode>010 02</programCode>
            </programCodes>
            <ctas>
              <cta ctaType ="1">
                <url>https://secure.greendot.com/SEIUMB/Start</url>
                <defaultReturnUrl></defaultReturnUrl>
              </cta>
            </ctas>
          </partner>
          <partner partnerType="3">
            <programCodes>
              <programCode>019 01</programCode>
            </programCodes>
            <ctas>
              <cta ctaType ="1">
                <url>https://enroll.mylifeprotected.com/userData?MDRefCode=seiu-mlp-web</url>
                <defaultReturnUrl></defaultReturnUrl>
              </cta>
            </ctas>
            <token>VVVKMlpqbEVaRVpxV1hNd1VWTjVTeTgyWVRobVVVMUVLMVY0TVU0MWRVcE1NRE55UWtRMFlrNVdTSGMyY2t3eFpuTldTMGxUZUZsT2RVazk</token>
          </partner>
        </partners>
      </partnerConfiguration>
    </seiumb>
  </sitecore>
</configuration>
