<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="NEAMBC.Project.Common" 
					description="NEAMBC.Project.Common , layouts, editor settings, workflows, and placeholder settings"
					dependencies="Neambc.Seiumb.Foundation.*"
				>
          <targetDataStore
            physicalRootPath="$(projectFolder)\Common\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/SEIUMB/Project/Common"/>
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/SEIUMB/Project/Common" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/SEIUMB"/>
          </predicate>
        </configuration>
        
        <!-- Role synching configuration -->
        <!--<configuration 
          name="NEAMBC.Project.Common.Roles"
          description="NEAMBC User Roles">
          
          <roleDataStore
            physicalRootPath="$(projectFolder)\Common\$(configurationFolder)\roles"
            useDataCache="false"
            type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles"
            singleInstance="true" />
          
          <predicate type="Unicorn.Roles.Predicates.EmptyPredicate, Unicorn.Roles" singleInstance="true" />

          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="sitecore" pattern="^SEIUMB.*$" />
            <include domain="sitecore" pattern="^NEAMB.*$" />
          </rolePredicate>
          <roleSyncConfiguration removeOrphans="true" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />
        </configuration>-->
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
