<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sc.variable name="projectFolder" value="#{Neamb.Unicorn.Location}_#{Octopus.Release.Number}\Project" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <sc.variable name="featureFolder" value="#{Neamb.Unicorn.Location}_#{Octopus.Release.Number}\Feature" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <sc.variable name="foundationFolder" value="#{Neamb.Unicorn.Location}_#{Octopus.Release.Number}\Foundation" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <sc.variable name="serverHostName" value="#{Neamb.Web.ServerHostName}" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <sc.variable name="seiumbServerHostNamePreview" value="#{Neamb.Web.Seiumb.Preview.ServerHostName}" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <sc.variable name="neambServerHostName" value="#{Neamb.Web.Neamb.ServerHostName}" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <sc.variable name="neambServerHostNamePreview" value="#{Neamb.Web.Neamb.Preview.ServerHostName}" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <sc.variable name="serverTimeZone" value="#{Neamb.Web.Neamb.ServerTimeZone}" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </sitecore>
</configuration>