<?xml version="1.0" encoding="utf-8" ?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:patch="http://www.sitecore.net/xmlconfig/"
xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<settings>
			<setting name="Analytics.ClusterName" xdt:Locator="Match(name)">
				<patch:attribute name="value" xdt:Transform="Insert">bl-lb-qa.mbctech.net</patch:attribute>
			</setting>
			<setting name="Analytics.HostName" xdt:Locator="Match(name)">
				<patch:attribute name="value" xdt:Transform="Insert" />
			</setting>
		</settings>
		<tracking>
			<sharedSessionState defaultProvider="InProc">
				<patch:attribute name="defaultProvider" xdt:Transform="Insert">redis</patch:attribute>

				<providers>
					<add name="redis"
						 type="Sitecore.SessionProvider.Redis.RedisSessionStateProvider, Sitecore.SessionProvider.Redis"
						 connectionString="session"
						 pollingInterval="2"
						 applicationName="shared-qa-blue"
						 databaseID="1"
						 operationTimeoutInMilliseconds="5000"
						 retryTimeoutInMilliseconds="16000"
						 connectionTimeoutInmilliseconds= "3000"
						 compression="true"
						 xdt:Transform="Insert"/>
				</providers>
			</sharedSessionState>~
		</tracking>
	</sitecore>
</configuration>