<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="projectFolder" value="C:\Projects\NEAMBC\src\Project" />
    <sc.variable name="featureFolder" value="C:\Projects\NEAMBC\src\Feature" />
    <sc.variable name="foundationFolder" value="C:\Projects\NEAMBC\src\Foundation" />
    <sc.variable name="configurationFolder" value="serialization" />
    <sc.variable name="serverHostName" value="seiumb.local" />
    <sc.variable name="seiumbServerHostNamePreview" value="seiumb.preview.local" />  
    <sc.variable name="neambServerHostName" value="neamb.local|m.neamb.local|secure.neamb.local" />
    <sc.variable name="neambServerHostNamePreview" value="neamb.preview.local" />
    <sc.variable name="serverTimeZone" value="" />
    <settings>
      <setting name="Counters.Enabled">
        <patch:attribute name="value" value="false"/>
      </setting>
	  <setting name="Project.Release.Number" value="_LOCALDEVELOPMENT_" />  <!--  DO NOT change this value.  It gets changed as part of the release process -->
    </settings>
  </sitecore>
</configuration>