<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<sc.variable name="dataFolder">
			<patch:attribute name="value">/App_Data</patch:attribute>
		</sc.variable>
		<scheduling>
			<agent type="Sitecore.Tasks.CleanupHistory" method="Run" interval="04:00:00"/>
			<agent type="Sitecore.Tasks.PublishAgent" method="Run" interval="00:00:00">
				<param desc="source database">master</param>
				<param desc="target database">web</param>
				<param desc="mode (full or smart or incremental)">incremental</param>
				<param desc="languages">en, es</param>
			</agent>

		</scheduling>
		<log4net>
			<appender name="WebDAVLogFileAppender">
				<file set:value="$(dataFolder)/logs/WebDAV.log.{date}.txt"/>
				<layout>
					<conversionPattern set:value="9999 %d{ABSOLUTE} %-5p %m%n"/>
				</layout>
			</appender>
			<appender name="PublishingLogFileAppender">
				<file set:value="$(dataFolder)/logs/Publishing.log.{date}.txt" />
				<layout>
					<conversionPattern set:value="9999 %d{ABSOLUTE} %-5p %m%n" />
				</layout>
			</appender>
			<appender name="MonitorFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/alerts/fatal.{date}.txt"/>
				<appendToFile value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="9999 %d{ABSOLUTE} %-5p %m%n"/>
				</layout>
				<filter type="log4net.Filter.LevelRangeFilter">
					<levelMin value="FATAL" />
					<levelMax value="FATAL" />
				</filter>
			</appender>
			<root>
				<appender-ref ref="MonitorFileAppender"/>
			</root>
			<appender name="LogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file set:value="$(dataFolder)/logs/log.{date}.txt" />
				<appendToFile set:value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern set:value="9999 %d{ABSOLUTE} %-5p %m%n" />
				</layout>
				<encoding set:value="utf-8" />
			</appender>
		</log4net>
		<settings>
			<setting name="Media.RequestExtension" value="" />
			<setting name="Upload.UserSelectableDestination" value="true"/>
			<setting name="IncludeProxiesInLinkDatabase" value="true" />
			<setting name="DefaultPublishingTargets" value="Preview" />
			<setting name="Query.MaxItems" value="9000" />
		</settings>
		<proxyDataProviders>
			<main type="Sitecore.Data.$(database).$(database)ProxyDataProvider, Sitecore.Kernel">
				<param connectionStringName="$(1)" />
				<Name>$(1)</Name>
			</main>
		</proxyDataProviders>
		<pipelines>
			<getItemReferences>
				<processor type="Sitecore.Publishing.Pipelines.GetItemReferences.AddItemLinkReferences, Sitecore.Kernel">
					<DeepScan>false</DeepScan>
				</processor>
			</getItemReferences>
		</pipelines>
		<xslControls>
			<control mode="on" tag="sc:date" type="Sitecore.Web.UI.XslControls.Date" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:dot" type="Sitecore.Web.UI.XslControls.ContentDot" assembly="Sitecore.Kernel">
				<patch:delete />
			</control>
			<control mode="on" tag="sc:html" type="Sitecore.Web.UI.XslControls.Html" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:image" type="Sitecore.Web.UI.XslControls.Image" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:link" type="Sitecore.Web.UI.XslControls.Link" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:memo" type="Sitecore.Web.UI.XslControls.Memo" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:sec" type="Sitecore.Web.UI.XslControls.Security" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:text" type="Sitecore.Web.UI.XslControls.Text" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:wordstyle" type="Sitecore.Web.UI.XslControls.WordStyle" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:enableSecurity" type="Sitecore.Web.UI.XslControls.EnableSecurity" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:disableSecurity" type="Sitecore.Web.UI.XslControls.DisableSecurity" assembly="Sitecore.Kernel" />
			<control mode="on" tag="sc:editFrame" type="Sitecore.Web.UI.XslControls.EditFrame" assembly="Sitecore.Kernel" />
		</xslControls>

	</sitecore>
</configuration>