<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<sitecore>
		<redirectMultiSiteSettings xdt:Transform="Remove"/>
		<redirectMultiSiteSettings xdt:Transform="InsertIfMissing">
			<site domain="qabl.neamb.com" redirectRootNode="/sitecore/system/Modules/Redirect Module/Redirects/NEAMB"/>
			<site domain="qabl.seiumb.com" redirectRootNode="/sitecore/system/Modules/Redirect Module/Redirects/SEIUMB"/>
		</redirectMultiSiteSettings>
	</sitecore>
</configuration>