<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
          name="Neambc.Neamb.Project.Neamb" 
          description="Neamb definition items" 
          dependencies="Foundation.Serialization" 
          patch:after="configuration[@name='Foundation.Serialization']">
          

          <targetDataStore 
            physicalRootPath="$(projectFolder)\Neamb\$(configurationFolder)" 
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" 
            useDataCache="false" 
            singleInstance="true" />
          
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Neambc.Neamb.Project.Web.Templates" database="master" path="/sitecore/templates/NEAMB/Project/Web" />
            <include name="Neambc.Neamb.Project.Web.Renderings" database="master" path="/sitecore/layout/Renderings/NEAMB/Project/Web" />
            <include name="Neambc.Neamb.Project.Web.Layouts" database="master" path="/sitecore/layout/Layouts/NEAMB/Project/Web" />
            
            <!--<include name="Neambc.Neamb.Project.Web.Media" database="master" path="/sitecore/media library/NEAMBC/NEAMB" />-->
            <include name="Neambc.Neamb.Project.Web.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/NEAMB" />
            <include name="Neambc.Neamb.Project.CoreEditor" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full Neamb"/>
            <include name="Workflow" database="master" path="/sitecore/system/Workflows/NEAMB Workflow"/>
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>