<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SiteSettingsId" value="{C7EADD3C-19BC-463B-B0CC-A862E99E5B50}" />
      <setting name="NeambItemId" value="{DF0B62F6-9316-438B-8B28-45EBF4D7B527}" />
      <setting name="SeiumbItemId" value="{F41FE52D-0437-4373-AFFD-D38B9770214F}" />
      <setting name="SitecoreItemId" value="{11111111-1111-1111-1111-111111111111}" />
      <setting name="ProfileEditingPageTemplateId" value="{DA14C2F9-A14F-471A-857D-63B9FD075EF5}" />
      <setting name="NeambCssPath" value="/assets/neamb/styles/rich_text_editor.css|/assets/neamb/styles/main.css|https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" />
      <setting name="SeiumbCssPath" value="/assets/seiumb/styles/app.css" />
      <setting name="NeambToolsfilePath" value="/rte/ToolsFile_Neamb.xml" />
      <setting name="SeiumbToolsfilePath" value="/rte/ToolsFile_Seiumb.xml" />
      <setting name="NeambSnippetsRootId" value="{55051F72-F3D3-4B15-96F0-FDF2C0B9A278}" />
      <setting name="SeiumbSnippetsRootId" value="{062B8D0A-B6F3-40DB-8B64-19364982C7E4}" />
      <setting name="SitecoreDatabase" value="master" />
      <setting name="SitecoreCoreDatabase" value="core" />
      <setting name="StateLogoNumber1" value="aea_1_logo.jpg" />
      <setting name="StateLogoNumber1" value="aea_1_logo.jpg" />
      <setting name="StateLogoNumber2" value="nea-ak_2_logo.jpg" />
      <setting name="StateLogoNumber3" value="aea_3_logo.jpg" />
      <setting name="StateLogoNumber4" value="aea_4_logo.jpg" />
      <setting name="StateLogoNumber5" value="cta_5_logo.jpg" />
      <setting name="StateLogoNumber7" value="cea_7_logo.jpg" />
      <setting name="StateLogoNumber8" value="cea_8_logo.jpg" />
      <setting name="StateLogoNumber9" value="dsea_9_logo.jpg" />
      <setting name="StateLogoNumber68" value="fea_68_logo.jpg" />
      <setting name="StateLogoNumber11" value="fea_11_logo.jpg" />
      <setting name="StateLogoNumber12" value="gae_12_logo.jpg" />
      <setting name="StateLogoNumber14" value="hsta_14_logo.jpg" />
      <setting name="StateLogoNumber15" value="iea_15_logo.jpg" />
      <setting name="StateLogoNumber16" value="iea_16_logo.jpg" />
      <setting name="StateLogoNumber17" value="ista_17_logo.jpg" />
      <setting name="StateLogoNumber18" value="isea_18_logo.jpg" />
      <setting name="StateLogoNumber19" value="knea_19_logo.jpg" />
      <setting name="StateLogoNumber20" value="kea_20_logo.jpg" />
      <setting name="StateLogoNumber21" value="lae_21_logo.jpg" />
      <setting name="StateLogoNumber22" value="mea_22_logo.jpg" />
      <setting name="StateLogoNumber23" value="msea_23_logo.jpg" />
      <setting name="StateLogoNumber24" value="mta_24_logo.jpg" />
      <setting name="StateLogoNumber25" value="mea_25_logo.jpg" />
      <setting name="StateLogoNumber26" value="edminn_26_logo.jpg" />
      <setting name="StateLogoNumber27" value="mae_27_logo.jpg" />
      <setting name="StateLogoNumber28" value="mnea_28_logo.jpg" />
      <setting name="StateLogoNumber29" value="mea-mft_29_logo.jpg" />
      <setting name="StateLogoNumber30" value="nsea_30_logo.jpg" />
      <setting name="StateLogoNumber31" value="nsea_31_logo.jpg" />
      <setting name="StateLogoNumber32" value="nea-nh_32_logo.jpg" />
      <setting name="StateLogoNumber33" value="njea_33_logo.jpg" />
      <setting name="StateLogoNumber34" value="nea-nm_34_logo.jpg" />
      <setting name="StateLogoNumber35" value="nysut_35_logo.jpg" />
      <setting name="StateLogoNumber36" value="ncae_36_logo.jpg" />
      <setting name="StateLogoNumber37" value="ndea_37_logo.jpg" />
      <setting name="StateLogoNumber38" value="oea_38_logo.jpg" />
      <setting name="StateLogoNumber39" value="oea_39_logo.jpg" />
      <setting name="StateLogoNumber40" value="oea_40_logo.jpg" />
      <setting name="StateLogoNumber41" value="psea_41_logo.jpg" />
      <setting name="StateLogoNumber43" value="nea-ri_43_logo.jpg" />
      <setting name="StateLogoNumber45" value="scea_45_logo.jpg" />
      <setting name="StateLogoNumber46" value="sdea_46_logo.jpg" />
      <setting name="StateLogoNumber47" value="tea_47_logo.jpg" />
      <setting name="StateLogoNumber48" value="tsta_48_logo.jpg" />
      <setting name="StateLogoNumber49" value="uea_49_logo.jpg" />
      <setting name="StateLogoNumber50" value="vt-nea_50_logo.jpg" />
      <setting name="StateLogoNumber51" value="vea_51_logo.jpg" />
      <setting name="StateLogoNumber54" value="wea_54_logo.jpg" />
      <setting name="StateLogoNumber55" value="wvea_55_logo.jpg" />
      <setting name="StateLogoNumber56" value="weac_56_logo.jpg" />
      <setting name="StateLogoNumber57" value="wea_57_logo.jpg" />
      <setting name="StateLogoNumber59" value="utah_59_logo.jpg" />
      <setting name="SearchParmTerm" value="keyword" />
    </settings>
    <pipelines>
      <initialize>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>