<?xml version="1.0"?>
<configuration
	xmlns:patch="http://www.sitecore.net/xmlconfig/"
	xmlns:set="http://www.sitecore.net/xmlconfig/set/"
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<databases>
			<database id="web" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" role:require="Standalone or ContentManagement or ContentDelivery">
				<dataProviders hint="list:AddDataProvider">
					<dataProvider type="Sitecore.Data.DataProviders.CompositeDataProvider, Sitecore.Kernel">
						<param desc="headProvider">
							<dataProvider ref="dataProviders/main" param1="$(id)">
								<prefetch hint="raw:AddPrefetch">
									<item desc="site settings">{C7EADD3C-19BC-463B-B0CC-A862E99E5B50}</item>
									<item desc="home neamb">{545409FC-DB86-4A7F-AC61-F74A274B5E30}</item>
									<item desc="item global assets">{4FC2FA7B-584D-4594-8BDA-7278919FA51B}</item>
								</prefetch>
							</dataProvider>
						</param>
					</dataProvider>
				</dataProviders>
			</database>
		</databases>
	</sitecore>
</configuration>