<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Media.MediaLinkServerUrl">
        <patch:attribute name="value" value="https://cdn.neamb.com" />
      </setting>
      <setting name="Media.AlwaysIncludeServerUrl">
        <patch:attribute name="value" value="false" />
      </setting>
      <setting name="MediaResponse.Cacheability">
        <patch:attribute name="value" value="private" />
      </setting>
      <setting name="MediaResponse.MaxAge">
        <patch:attribute name="value" value="7.00:00:00" />
      </setting>
      <setting name="EnableCdnInvalidation">
        <patch:attribute name="value" value="false" />
      </setting>
    </settings>
  </sitecore>
</configuration>