<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<eventing defaultProvider="sitecore">
			<eventQueueProvider>
				<eventQueue name="preview" patch:after="eventQueue[@name='web']" type="Sitecore.Data.Eventing.$(database)EventQueue, Sitecore.Kernel">
					<param ref="dataApis/dataApi[@name='$(database)']" param1="$(name)" />
					<param hint="" ref="PropertyStoreProvider/store[@name='$(name)']" />
				</eventQueue>
			</eventQueueProvider>
		</eventing>
		<PropertyStoreProvider>
			<store name="preview" patch:after="store[@name='web']" prefix="web_secondary" getValueWithoutPrefix="true" singleInstance="true" type="Sitecore.Data.Properties.$(database)PropertyStore, Sitecore.Kernel">
				<param ref="dataApis/dataApi[@name='$(database)']" param1="$(name)" />
				<param resolve="true" type="Sitecore.Abstractions.BaseEventManager, Sitecore.Kernel" />
				<param resolve="true" type="Sitecore.Abstractions.BaseCacheManager, Sitecore.Kernel" />
			</store>
		</PropertyStoreProvider>
		<databases>
			<!-- web_secondary -->
			<database id="preview" patch:after="database[@id='web']" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel">
				<param desc="name">$(id)</param>
				<icon>Images/database_web.png</icon>
				<securityEnabled>true</securityEnabled>
				<dataProviders hint="list:AddDataProvider">
					<dataProvider type="Sitecore.Data.DataProviders.CompositeDataProvider, Sitecore.Kernel">
						<param desc="readOnlyDataProviders" hint="list">
							<protobufItems type="Sitecore.Data.DataProviders.ReadOnly.Protobuf.ProtobufDataProvider, Sitecore.Kernel">
								<filePaths hint="list">
									<filePath>$(dataFolder)/items/$(id)</filePath>
								</filePaths>
							</protobufItems>
						</param>
						<param desc="headProvider">
							<dataProvider ref="dataProviders/main" param1="$(id)">
								<disableGroup>publishing</disableGroup>
								<prefetch hint="raw:AddPrefetch">
									<sc.include file="/App_Config/Prefetch/Common.config" />
									<sc.include file="/App_Config/Prefetch/Webdb.config" />
								</prefetch>
							</dataProvider>
						</param>
					</dataProvider>
				</dataProviders>
				<PropertyStore ref="PropertyStoreProvider/store[@name='$(id)']" />
				<remoteEvents.EventQueue>
					<obj ref="eventing/eventQueueProvider/eventQueue[@name='$(id)']" />
				</remoteEvents.EventQueue>
				<archives hint="raw:AddArchive">
					<archive name="archive" />
					<archive name="recyclebin" />
				</archives>
				<cacheSizes hint="setting">
					<data>100MB</data>
					<items>50MB</items>
					<paths>2500KB</paths>
					<itempaths>50MB</itempaths>
					<standardValues>2500KB</standardValues>
				</cacheSizes>
				<BlobStorage hint="raw:AddBlobStorage">
					<providers default="classic">
						<provider name="classic" type="Sitecore.Data.Blobs.ClassicSqlBlobProvider, Sitecore.Kernel">
							<param desc="databaseName">$(id)</param>
						</provider>
					</providers>
				</BlobStorage>
			</database>
		</databases>
		<sites>
			<site name="neamb" patch:after="site[@name='modules_website']"
				  hostName="$(neambServerHostName)"
				  database="web"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content/NEAMB"
				  startItem="/Home"
				  dictionaryAutoCreate="false"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="50MB"
				  registryCacheSize="0"
				  viewStateCacheSize="0"
				  xslCacheSize="25MB"
				  filteredItemsCacheSize="10MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"
				  cacheRenderingParameters="true"
				  renderingParametersCacheSize="10MB"
				  enableItemLanguageFallback="true"
				  scheme="https" />
			<site name="neamb_preview" patch:after="site[@name='neamb']"
			      hostName="$(neambServerHostNamePreview)"
			      database="preview"
			      virtualFolder="/"
			      physicalFolder="/"
			      rootPath="/sitecore/content/NEAMB"
			      startItem="/Home"
			      dictionaryAutoCreate="false"
			      domain="extranet"
			      allowDebug="false"
			      cacheHtml="false"
			      htmlCacheSize="50MB"
			      registryCacheSize="0"
			      viewStateCacheSize="0"
			      xslCacheSize="25MB"
			      filteredItemsCacheSize="10MB"
			      enablePreview="false"
			      enableWebEdit="false"
			      enableDebugger="false"
			      disableClientData="false"
			      cacheRenderingParameters="false"
			      renderingParametersCacheSize="10MB"
			      enableItemLanguageFallback="false"
			      scheme="https" />
		</sites>
		<settings>
			<setting name="Preview.DefaultSite">
				<patch:attribute name="value" value="neamb" />
			</setting>
			<setting name="Neamb.Redis.CacheConnection" value="localhost:6379"/>
			<setting name="Preview.ResolveSite">
				<patch:attribute name="value" value="true" />
			</setting>
			<setting name="HtmlEditor.DefaultConfigurationType">
				<patch:attribute name="value" value="Neambc.Neamb.Project.Web.MultisiteEditor.MultisiteEditorConfiguration, Neambc.Neamb.Project.Web" />
			</setting>
			<setting name="HtmlEditor.DefaultProfile">
				<patch:attribute name="value" value="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full Neamb" />
			</setting>
			<setting name="ServerTimeZone">
				<patch:attribute name="value" value="" />
			</setting>
			<setting name="EnableFlushCacheService" value="true" />
		</settings>
		<cacheSizes>
			<sites>
				<neamb>
					<html>50MB</html>
					<registry>0</registry>
					<viewState>0</viewState>
					<xsl>25MB</xsl>
				</neamb>
			</sites>
		</cacheSizes>
		<pipelines>
			<publishItem>
				<processor patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']"
						   type="Neambc.Neamb.Project.Web.Pipelines.PublishItem, Neambc.Neamb.Project.Web" resolve="true"/>
			</publishItem>
			<initialize>
				<processor type="Neambc.Neamb.Project.Web.Pipelines.RegisterWebApiRoutes, Neambc.Neamb.Project.Web" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"></processor>
			</initialize>
		</pipelines>
		<services>
			<register
			  serviceType="Neambc.Neamb.Project.Web.Services.IFlushCacheService, Neambc.Neamb.Project.Web"
			  implementationType="Neambc.Neamb.Project.Web.Services.FlushCacheService, Neambc.Neamb.Project.Web"
			  lifetime="Transient"/>
		</services>
	</sitecore>
</configuration>
