<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <setting name="ContentSearch.Solr.ServiceBaseAddress" xdt:Locator="Match(name)" value="http://10.52.43.5:8983/solr" xdt:Transform="SetAttributes(value)" />
    </settings>
  </sitecore>
</configuration>