@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Neambc.Seiumb.Feature.Product

@model Neambc.Seiumb.Feature.Product.Models.UserStateProduct

@{
    if (Model != null) {
        <div class="small-1 medium-1 large-1 columns hide-bottom">
            &nbsp;
        </div>
        <div class="small-12 medium-6 large-6 columns hide-bottom">
            @Html.Sitecore().ImageField(Templates.ProductLite.Fields.ProductImage, Model.ContextItem)
        </div>
        <div class="small-12 medium-5 large-5 columns full-width">
            <h4>@Html.Sitecore().Field(Templates.ProductLite.Fields.ProductHeadline, Model.ContextItem)</h4>
            <p>
                @Html.Sitecore().Field(Templates.ProductLite.Fields.ProductSubHeadline, Model.ContextItem)
            </p>
            <div class="mobile_buttons">
                @Html.Partial("~/Views/Product/Renderings/_UserStateProductDetail.cshtml", Model)
            </div>
        </div>
    }
}
