<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <setting name="UrlJeepZag" xdt:Locator="Match(name)"  xdt:Transform="Replace" value="https://nea.truecar.com/ws/submitRegisteredMemberInformation" />
      <setting name="HeaderTrueCarToken" xdt:Locator="Match(name)"  xdt:Transform="Replace" value="2553b06314ed44ccaaa47580c0319bae48fe022f511e10640306078c17aac5fa03c734a64e4703e8a6cf795858c1cfd794b73b67de0889e9e36ca9df70d34f5d" />
    </settings>
  </sitecore>
</configuration>