<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Neambc.Neamb.Feature.Product" 
					description="Neambc.Neamb.Feature.Product templates and renderings" 
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\Neamb.Product\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/NEAMB/Feature/Neamb_Product"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/NEAMB/Feature/Neamb_Product"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
