<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="TimeWarmCookie" value="360" />
			<setting name="TimeRemembermeCookie" value="7" />
			<setting name="IcePointsTemplate" value="Neambc.Neamb.Foundation.Membership.Resources.IcePoints.html" />
			<setting name="ReturnUrlArg" value="returnUrl" />
			<setting name="ExpirationHoursTokenRedis" value="24" />
		</settings>
		<services>
			<register serviceType="Neambc.Neamb.Foundation.MBCData.Repositories.ITokenizationService, Neambc.Neamb.Foundation.MBCData" implementationType="Neambc.Neamb.Foundation.Membership.Managers.TokenizationService, Neambc.Neamb.Foundation.Membership" />
		</services>
	</sitecore>
</configuration>
