<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <setting name="UrlTrueCarSeiumb" xdt:Locator="Match(name)"  xdt:Transform="Replace" value="https://seiu.truecar.com/ws/submitRegisteredMemberInformation" />
      <setting name="ReferrerIdSeiumb" xdt:Locator="Match(name)"  xdt:Transform="Replace" value="ZNAT000026076" />
      <setting name="HeaderTrueCarTokenSeiumb" xdt:Locator="Match(name)"  xdt:Transform="Replace" value="1202eb4b82fe0bc76a23894dca553914e9cfc0033bb88e1f442e027febdb697475709c397aa91109ab64ceccfbc954a497b7924c6fb0d5192e85ebab3672708b" />
    </settings>
  </sitecore>
</configuration>