<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <setting name="SiteSettingsId" value="{C7EADD3C-19BC-463B-B0CC-A862E99E5B50}" />
      <setting name="ContactUsUserEmailCustomerKey" value="TG001069a-SEND" />
      <setting name="ContactUsUserEmailCellCode" value="TG001069" />
      <setting name="ContactUsUserEmailCampaignCd" value="TG001009" />
      <setting name="ContactUsAdminEmailCustomerKey" value="TG001031a-SEND" />
      <!--setting name="ContactUsAdminEmailAddress" value="ask-us@neamb.com" /-->
      <setting name="ContactUsAdminEmailAddress" xdt:Locator="Match(name)" value="imartine76@hotmail.com" xdt:Transform="SetAttributes(value)" />
      <setting name="HostForVisitedPage" value="integ.neamb.com" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    </settings>
    <pipelines>
      <initialize>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>