<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="CellCodeResetPasswordLockedOut" value="SSGD1006" />
			<setting name="CellCodeResetPasswordRequestedReset" value="SSGA1006" />
			<setting name="CellCodeResetPasswordRequestedResetOldToken" value="SSGE1006" />
			<setting name="CellcodeAddFamilyMember" value="TG001490" />
			<setting name="CampaignResetPassword" value="TGNW1006" />
			<setting name="CampaignAddFamilyMember" value="TG001139" />
			<setting name="CustomerDefinitionResetPassword" value="TGNW1006-SEND-DEFINITION" />
			<setting name="CustomerDefinitionDuplicateRegistration" value="TG001060-SEND" />
			<setting name="CellCodeDuplicateRegistration" value="TG001060" />
			<setting name="CampaignCodeDuplicateRegistration" value="TG001006" />
			<setting name="AttemptZipCodeValidation" value="3" />
			<setting name="CustomerDefinitionChangeUsername" value="TGNW1007-SEND-DEFINITION" />
			<setting name="CellcodeChangeUsernameNewLogin" value="SSGA1007" />
			<setting name="CellcodeChangeUsernameOldLogin" value="SSGB1007" />
			<setting name="CampaignCodeChangeUsername" value="TGNW1007" />
		  <setting name="SubscriptionsResult" value="result" />
		  <setting name="EditBeneficiaryId" value="id" />
		  <setting name="ComplimentaryLifeResult" value="result" />
      <setting name="ProfilePageId" value="{6512B2CA-ADFA-4B70-A4F4-541224FD47CC}" />
		  <setting name="NamedIndividualId" value="{C4811FB7-EA12-4EA2-9FFC-A6EDD4AB148D}" />
		  <setting name="OtherEntityId" value="{C6C64921-5E45-4C5B-A916-1CE04F845F18}" />
		  <setting name="WelcomeMdsidParameterName" value="ref" />
		  <setting name="WelcomeEmailParameterName" value="pemail" />
			<setting name="CustomerDefinitionAddFamilyMember" value="TG001139-SEND2" />
		  <setting name="CompLifeDefaultCampaignCode" value="ABCD1234" />
		  <setting name="CompLifeDefaultCellCode" value="WXYZ9876" />
		  <setting name="CompLifeEmailCustomerKey" value="TG001014-SEND" />
		  <setting name="CompLifeEmailDefaultCellCode" value="TG001014" />
		  <setting name="CompLifeEmailDefaultCampaignCode" value="TG001003" />
		  <setting name="CompLifeOtherEntityDefaultRelationship" value="56" />
		  <setting name="CompLifeOtherEntityDefaultDisplayRelationship" value="Other" />
      <setting name="CompLifeEmailCellCodeToteBag" value="TG001003" />
      <setting name="IndicatorNoPermissionEmail" value="N" />
      <setting name="IndicatorYesPermissionEmail" value="Y" />
      <setting name="TypePermissionEmail" value="MAIL" />
      <setting name="BusinessUnitPermissionEmail" value="MB" />
    </settings>
		<pipelines>
			<initialize>
				<processor type="Neambc.Neamb.Feature.Account.Pipelines.RegisterWebApiRoutes, Neambc.Neamb.Feature.Account" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"></processor>
			</initialize>
		</pipelines>
	</sitecore>
</configuration>

