<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:itemProcessed">
        <handler type="Neambc.Seiumb.Feature.Campaign.Events.ModifyRenderingsAfterPublish, Neambc.Seiumb.Feature.Campaign" method="ModifyItemRenderings" patch:after="handler [@type='Sitecore.Social.Client.MessagePosting.Handlers.ItemPublishedHandler, Sitecore.Social.Client']">
          <sites hint="list">
            <site>SEIUMB</site>
          </sites>
          <templates hint="list">
            <templateId name="Contact Us">{5EB3A015-DA58-4A58-94E5-AE7630D125FC}</templateId>
            <templateId name="Duplicate Registration">{A7C12305-82FC-42CB-84CE-CFF753B6514A}</templateId>
            <templateId name="Error Page">{D613828E-0662-45F9-9A35-D1C6C47271E8}</templateId>
            <templateId name="Forgot Password">{C7524E09-2AE8-4099-9B6D-85E433FF8A7D}</templateId>
            <templateId name="Forgot Username">{099F27FC-A519-4346-B07F-5EFDFD0C97CA}</templateId>
            <templateId name="Landing Page">{B136D132-50E9-43D2-ACC8-83576D5EB51B}</templateId>
            <templateId name="Log In Help">{66061942-C511-4FD3-A9CD-01D64AE8C8B2}</templateId>
            <templateId name="Login Page">{4F39EAF4-2030-40B5-8EED-78E5483335EB}</templateId>
            <templateId name="My Account">{25CE66DA-8A53-4341-96D7-DCB60A4228DF}</templateId>
            <templateId name="One Column Miscellaneous">{2D96EC72-CD15-45E1-BFFB-06AF9804BB68}</templateId>
            <templateId name="Product Detail">{E20C8AEE-8D86-4564-BB55-208152C4D7EB}</templateId>
            <templateId name="Product List">{F3C06421-5004-40D1-ABDB-008ACCF26AEA}</templateId>
            <templateId name="Registration Page">{29B9788C-173C-4EF5-8775-69C658418688}</templateId>
            <templateId name="Registration ThankYou Page">{05CF65D1-3137-40EE-9FB6-FAE3A19BE9FC}</templateId>
            <templateId name="Reset Password">{98D39DD3-D0EC-46BE-A922-603E23E0D82E}</templateId>
            <templateId name="Reset Password Disavow">{8530971F-A906-4FA5-9B37-F089A1D51430}</templateId>            
            <templateId name="Search">{AE87A068-BEBD-4D99-BBE7-7D03BE0BFBE4}</templateId>
            <templateId name="Thank You Page">{B497F700-68C9-40CC-8FC5-1B6ADF3D9961}</templateId>
            <templateId name="Two Column List">{AD0853BA-639C-44BA-8EF9-EF4AE713B631}</templateId>
            <templateId name="Two Column Miscellaneous">{EF07CBF6-E44B-45CE-B502-9A8592266BA1}</templateId>
            <templateId name="Unsubscribe Page">{EF878ABF-6731-4A15-816E-273C246D5827}</templateId>            
          </templates>
        </handler>
      </event>    
    <event name="publish:itemProcessed:remote">
        <handler type="Neambc.Seiumb.Feature.Campaign.Events.ModifyRenderingsAfterPublish, Neambc.Seiumb.Feature.Campaign" method="ModifyItemRenderings" patch:after="handler [@type='Sitecore.Social.Client.MessagePosting.Handlers.ItemPublishedHandler, Sitecore.Social.Client']">
          <sites hint="list">
            <site>SEIUMB</site>
          </sites>
          <templates hint="list">
            <templateId name="Contact Us">{5EB3A015-DA58-4A58-94E5-AE7630D125FC}</templateId>
            <templateId name="Duplicate Registration">{A7C12305-82FC-42CB-84CE-CFF753B6514A}</templateId>
            <templateId name="Error Page">{D613828E-0662-45F9-9A35-D1C6C47271E8}</templateId>
            <templateId name="Forgot Password">{C7524E09-2AE8-4099-9B6D-85E433FF8A7D}</templateId>
            <templateId name="Forgot Username">{099F27FC-A519-4346-B07F-5EFDFD0C97CA}</templateId>
            <templateId name="Landing Page">{B136D132-50E9-43D2-ACC8-83576D5EB51B}</templateId>
            <templateId name="Log In Help">{66061942-C511-4FD3-A9CD-01D64AE8C8B2}</templateId>
            <templateId name="Login Page">{4F39EAF4-2030-40B5-8EED-78E5483335EB}</templateId>
            <templateId name="My Account">{25CE66DA-8A53-4341-96D7-DCB60A4228DF}</templateId>
            <templateId name="One Column Miscellaneous">{2D96EC72-CD15-45E1-BFFB-06AF9804BB68}</templateId>
            <templateId name="Product Detail">{E20C8AEE-8D86-4564-BB55-208152C4D7EB}</templateId>
            <templateId name="Product List">{F3C06421-5004-40D1-ABDB-008ACCF26AEA}</templateId>
            <templateId name="Registration Page">{29B9788C-173C-4EF5-8775-69C658418688}</templateId>
            <templateId name="Registration ThankYou Page">{05CF65D1-3137-40EE-9FB6-FAE3A19BE9FC}</templateId>
            <templateId name="Reset Password">{98D39DD3-D0EC-46BE-A922-603E23E0D82E}</templateId>
            <templateId name="Reset Password Disavow">{8530971F-A906-4FA5-9B37-F089A1D51430}</templateId>
            <templateId name="Search">{AE87A068-BEBD-4D99-BBE7-7D03BE0BFBE4}</templateId>
            <templateId name="Thank You Page">{B497F700-68C9-40CC-8FC5-1B6ADF3D9961}</templateId>
            <templateId name="Two Column List">{AD0853BA-639C-44BA-8EF9-EF4AE713B631}</templateId>
            <templateId name="Two Column Miscellaneous">{EF07CBF6-E44B-45CE-B502-9A8592266BA1}</templateId>
            <templateId name="Unsubscribe Page">{EF878ABF-6731-4A15-816E-273C246D5827}</templateId>
          </templates>
        </handler>
      </event>
    </events>        
  </sitecore>
</configuration>
