<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="security" connectionString="" />
  <add name="web" connectionString="" />
  <add name="messaging" connectionString="" />
  <add name="experienceforms" connectionString="" />
  <add name="exm.master" connectionString="" />
  <add name="solr.search" connectionString="" />
  <add name="xconnect.collection" connectionString="" />
  <add name="xconnect.collection.certificate" connectionString="" />
  <add name="xdb.marketingautomation.operations.client" connectionString="" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="" />
  <add name="xdb.referencedata.client" connectionString="" />
  <add name="xdb.referencedata.client.certificate" connectionString="" />
  <add name="PackageManagementServiceUrl" connectionString="" />
  <add name="EXM.CryptographicKey" connectionString="" />
  <add name="EXM.AuthenticationKey" connectionString="" />
  <add name="core" connectionString="" />
  <add name="master" connectionString="" />
  <add name="reporting.apikey" connectionString="" />
  <add name="xdb.referencedata" connectionString="" />
  <add name="reporting" connectionString="" />
  <add name="sitecore.reporting.client" connectionString="" />
  <add name="sitecore.reporting.client.certificate" connectionString="" />
  <add name="sitecoreidentity.secret" connectionString="" />
  <add name="EXM.InternalApiKey" connectionString="" />
  <add name="xdb.processing.pools" connectionString="" />
  <add name="xdb.processing.tasks" connectionString="" />
  <add name="OracleDatabase" connectionString="" providerName="" />
  <add name="session" connectionString="" />
  <add name="sharedSession" connectionString="" />
  <add name="preview" connectionString="" />
  <add name="requests.log" connectionString="" />
</connectionStrings>