<?xml version="1.0" encoding="utf-8"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" xdt:Locator="Match(name)" connectionString="user id=NeambMCM;password=HMbdenRXcSNQsbxPiX1g;Data Source=192.168.2.65;Database=NEAMBC_QA_MCM_SC8.2u5_Core" xdt:Transform="SetAttributes(connectionString)" />
  <add name="master" xdt:Locator="Match(name)" connectionString="user id=NeambMCM;password=HMbdenRXcSNQsbxPiX1g;Data Source=192.168.2.65;Database=NEAMBC_QA_MCM_SC8.2u5_Master" xdt:Transform="SetAttributes(connectionString)" />
  <add name="web" xdt:Locator="Match(name)" connectionString="user id=NeambMCM;password=HMbdenRXcSNQsbxPiX1g;Data Source=192.168.2.65;Database=NEAMBC_QA_MCM_SC8.2u5_Web" xdt:Transform="SetAttributes(connectionString)" />
  <add name="analytics" xdt:Locator="Match(name)" connectionString="mongodb://127.0.0.1/Sitecore_QA_analytics" xdt:Transform="SetAttributes(connectionString)" />
  <add name="tracking.live" xdt:Locator="Match(name)" connectionString="mongodb://127.0.0.1/Sitecore_QA_tracking_live" xdt:Transform="SetAttributes(connectionString)" />
  <add name="tracking.history" xdt:Locator="Match(name)" connectionString="mongodb://127.0.0.1/Sitecore_QA_tracking_history" xdt:Transform="SetAttributes(connectionString)" />
  <add name="tracking.contact" xdt:Locator="Match(name)" connectionString="mongodb://127.0.0.1/Sitecore_QA_tracking_contact" xdt:Transform="SetAttributes(connectionString)" />
  <add name="reporting" xdt:Locator="Match(name)" connectionString="user id=NeambMCM;password=HMbdenRXcSNQsbxPiX1g;Data Source=192.168.2.65;Database=NEAMBC_QA_MCM_SC8.2u5_Analytics" xdt:Transform="SetAttributes(connectionString)" />
  
  <add name="reporting.apikey" connectionString=""  xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)"  />
  <add name="session" connectionString="127.0.0.1:6379" xdt:Transform="Insert"  />

</connectionStrings>