<connectionStrings configBuilders="SitecoreConnectionStringsBuilder" xdt:Transform="SetAttributes(configBuilders)" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="security" xdt:Locator="Match(name)" connectionString="Data Source=qablrds.mbctech.net;Initial Catalog=neambblqa_Core;User ID=aws_qa_app;Password=S3FbPXUMWcNPsYzy" xdt:Transform="SetAttributes(connectionString)" />
  <add name="web" xdt:Locator="Match(name)" connectionString="Data Source=qablrds.mbctech.net;Initial Catalog=neambblqa_Web;User ID=aws_qa_app;Password=S3FbPXUMWcNPsYzy" xdt:Transform="SetAttributes(connectionString)" />
  <add name="messaging" xdt:Locator="Match(name)" connectionString="Data Source=qablrds.mbctech.net;Initial Catalog=neambblqa_Messaging;User ID=aws_qa_xc;Password=V2v49RNA4hkNtsYH" xdt:Transform="SetAttributes(connectionString)" />
  <add name="experienceforms" xdt:Locator="Match(name)" connectionString="Data Source=qablrds.mbctech.net;Initial Catalog=neambblqa_ExperienceForms;User ID=aws_qa_app;Password=S3FbPXUMWcNPsYzy" xdt:Transform="SetAttributes(connectionString)" />
  <add name="exm.master" xdt:Locator="Match(name)" connectionString="Data Source=qablrds.mbctech.net;Initial Catalog=neambblqa_EXM.Master;User ID=aws_qa_app;Password=S3FbPXUMWcNPsYzy" xdt:Transform="SetAttributes(connectionString)" />
  <add name="solr.search" xdt:Locator="Match(name)" connectionString="https://qablsolr.mbctech.net/solr" xdt:Transform="SetAttributes(connectionString)" />
  <add name="xconnect.collection" xdt:Locator="Match(name)" connectionString="https://qablxc.mbctech.net" xdt:Transform="SetAttributes(connectionString)" />
  <add name="xconnect.collection.certificate" xdt:Locator="Match(name)" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=8312FAB37BDB5EFC8D311A45CDAD1718DAF5AE32" xdt:Transform="SetAttributes(connectionString)" />
  <add name="xdb.marketingautomation.operations.client" xdt:Locator="Match(name)" connectionString="https://qablxc.mbctech.net" xdt:Transform="SetAttributes(connectionString)" />
  <add name="xdb.marketingautomation.operations.client.certificate" xdt:Locator="Match(name)" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=8312FAB37BDB5EFC8D311A45CDAD1718DAF5AE32" xdt:Transform="SetAttributes(connectionString)" />
  <add name="xdb.marketingautomation.reporting.client" xdt:Locator="Match(name)" connectionString="https://qablxc.mbctech.net" xdt:Transform="SetAttributes(connectionString)" />
  <add name="xdb.marketingautomation.reporting.client.certificate" xdt:Locator="Match(name)" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=8312FAB37BDB5EFC8D311A45CDAD1718DAF5AE32" xdt:Transform="SetAttributes(connectionString)" />
  <add name="xdb.referencedata.client" xdt:Locator="Match(name)" connectionString="https://qablxc.mbctech.net" xdt:Transform="SetAttributes(connectionString)" />
  <add name="xdb.referencedata.client.certificate" xdt:Locator="Match(name)" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=8312FAB37BDB5EFC8D311A45CDAD1718DAF5AE32" xdt:Transform="SetAttributes(connectionString)" />
  <add name="EXM.CryptographicKey" xdt:Locator="Match(name)" connectionString="4HD243qvskcymnHekZve4RxasgQL2qgc" xdt:Transform="SetAttributes(connectionString)" />
  <add name="EXM.AuthenticationKey" xdt:Locator="Match(name)" connectionString="Q8nG4p5uBz4Ly3Y*9QN?zz5ZbDf@gjhW*A@%EGTkRrP^dfAEwTCuS8!qc8+9D7@ByG%%AQWy4xU5uwWFP5N=@TKhaq#gCY?Nu-8" xdt:Transform="SetAttributes(connectionString)" />
  <add name="PackageManagementServiceUrl" xdt:Locator="Match(name)" connectionString="https://updatecenter.cloud.sitecore.net/" xdt:Transform="SetAttributes(connectionString)" />
  <add name="OracleDatabase" xdt:Locator="Match(name)" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=mbwebqa.mbctech.net)(PORT=1543)))(CONNECT_DATA=(SID=MBWEBQA)));User Id=webdb;Password=ResourcesRready4uQa;Connection Timeout=60;Connection Lifetime=60;" providerName="Oracle.DataAccess.Client" xdt:Transform="SetAttributes(connectionString,providerName)" />
  <add name="session" xdt:Locator="Match(name)" connectionString="nonprod-redis-blue.riqzay.ng.0001.use1.cache.amazonaws.com:6379" xdt:Transform="SetAttributes(connectionString)" />
  <add name="sharedSession" xdt:Locator="Match(name)" connectionString="nonprod-redis-blue.riqzay.ng.0001.use1.cache.amazonaws.com:6379" xdt:Transform="SetAttributes(connectionString)" />
  <add name="preview" xdt:Locator="Match(name)" connectionString="Data Source=qablrds.mbctech.net;Initial Catalog=neambblqa_Preview;User ID=aws_qa_app;Password=S3FbPXUMWcNPsYzy" xdt:Transform="SetAttributes(connectionString)" />
  <add name="requests.log" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="xdb.processing.tasks" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="xdb.processing.pools" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="EXM.InternalApiKey" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="sitecoreidentity.secret" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="sitecore.reporting.client.certificate" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="sitecore.reporting.client" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="reporting" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="xdb.referencedata" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="reporting.apikey" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="master" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="core" xdt:Locator="Match(name)" xdt:Transform="Remove" />
</connectionStrings>