<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ReminderKey" value="Visited" />
      <setting name="ProfileKey" value="Profile" />
      <setting name="SubscriptionKey" value="Subscription" />
      <setting name="ComplifeKey" value="Complife" />
      <setting name="ProfilePasswordId" value="{8DFF374B-52A5-48A9-BE20-412D6C173856}" />
      <setting name="SettingSubscriptionId" value="{1131EBD3-3291-40D7-894B-8ABBC1224945}" />
      <setting name="CompLifeId" value="{293D42C9-C7B9-4A8D-88E4-081BBA5637C7}" />
      <setting name="MigrateVisitedPages" value="true" />
    </settings>
  </sitecore>
</configuration>