@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Neambc.Neamb.Feature.Account

@model Neambc.Neamb.Feature.Account.Models.ResetPasswordDisavowDTO
@{
	var classname = !Model.ProcessedSucessfully ? "show" : "";
	bool isExperienceEditor = Sitecore.Context.PageMode.IsExperienceEditor || Sitecore.Context.PageMode.IsPreview;
}

<section class="error-bar @classname">
	<p>
		@Html.Sitecore().Field(Templates.ResetPasswordDisavow.Fields.Error, Model.Item)
		<i aria-hidden="true" class="fa fa-times"></i>
	</p>
</section>

@if (Model.ProcessedSucessfully || isExperienceEditor)
{
	<section class="section-normal">
		<div class="container">
			@Html.Sitecore().Field(Templates.ResetPasswordDisavow.Fields.Success, Model.Item)
		</div>
	</section>
}
