<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Redis -->
      <setting name="UserVoteKeyGroup" value="UserVotes" />
      <setting name="ContestKeyGroup" value="Contest" />
      <setting name="VoteKeyGroup" value="TotalVotes" />
      <setting name="SubmissionGroup" value="Submissions" />
      <setting name="UserVoteCooldown" value="24" /><!-- In Hours-->
      <setting name="SubmissionsCacheDuration" value="24" /><!-- In Hours-->
      <!-- End Redis -->
      <!-- S3 -->
      <setting name="S3VoteFolder" value="Curated" />
      <setting name="S3VoteFileName" value="TotalVotes.bck" />
      <setting name="S3SubmissionExtension" value="json" />
      <setting name="S3SubmissionFolder" value="Submission" />
      <!-- End S3 -->
      <setting name="MaxFileSizeFileContest" value="5242880" />
      <setting name="SiteSettingsId" value="{C7EADD3C-19BC-463B-B0CC-A862E99E5B50}" />
      <setting name="SubmissionPageSize" value="12" />      
    </settings>
  </sitecore>
</configuration>