<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
					name="Root.Neamb.Serialization"
					description="Sitecore Neamb root items for entire solution">
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Neamb.Serialization\$(configurationFolder)\root.Neamb"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Root.Templates" database="master" path="/sitecore/templates/NEAMB">
              <exclude children="true"/>
            </include>
            <include name="Root.Renderings" database="master" path="/sitecore/layout/Renderings/NEAMB">
              <exclude children="true"/>
            </include>
            <include name="Root.Layouts" database="master" path="/sitecore/layout/Layouts/NEAMB">
              <exclude children="true"/>
            </include>
          </predicate>
        </configuration>
        <configuration
                  name="Foundation.Neamb.Serialization"
                  description="Foundation Neamb root items"
                  dependencies="Root.Neamb.Serialization">
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Neamb.Serialization\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--NEAMB-->
            <include name="Foundation.Templates.Project" database="master" path="/sitecore/templates/NEAMB/Project">
              <exclude children="true"/>
            </include>
            <include name="Foundation.Templates.Feature" database="master" path="/sitecore/templates/NEAMB/Feature">
              <exclude children="true"/>
            </include>
            <include name="Foundation.Templates.Foundation" database="master" path="/sitecore/templates/NEAMB/Foundation">
              <exclude children="true"/>
            </include>
            <include name="Foundation.Renderings.Project" database="master" path="/sitecore/layout/Renderings/NEAMB/Project">
              <exclude children="true"/>
            </include>
            <include name="Foundation.Renderings.Feature" database="master" path="/sitecore/layout/Renderings/NEAMB/Feature">
              <exclude children="true"/>
            </include>
            <include name="Foundation.Renderings.Foundation" database="master" path="/sitecore/layout/Renderings/NEAMB/Foundation">
              <exclude children="true"/>
            </include>
            <include name="Foundation.Layouts.Project" database="master" path="/sitecore/layout/Layouts/NEAMB/Project">
              <exclude children="true"/>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
