<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
      <add key="role:define" value="#{Neamb.Sitecore.Role}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="seiumbSoap11Binding" xdt:Transform="Insert" />
        <binding name="PdfFactorySoap11Binding" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" xdt:Transform="InsertBefore(/configuration/system.serviceModel/bindings/basicHttpBinding/binding[(@name='seiumbSoap11Binding')])" />
        <binding name="BasicHttpBinding_IMaterial" xdt:Transform="InsertBefore(/configuration/system.serviceModel/bindings/basicHttpBinding/binding[(@name='PdfFactorySoap11Binding')])" />
        <binding name="BasicHttpBinding_IRestrictedLocals" xdt:Transform="InsertBefore(/configuration/system.serviceModel/bindings/basicHttpBinding/binding[(@name='BasicHttpBinding_IMaterial')])" />
        <binding name="AccountManagementSoap11Binding" xdt:Transform="InsertBefore(/configuration/system.serviceModel/bindings/basicHttpBinding/binding[(@name='BasicHttpBinding_IRestrictedLocals')])" />
        <binding name="BasicHttpBinding_IAuthentication" xdt:Transform="InsertBefore(/configuration/system.serviceModel/bindings/basicHttpBinding/binding[(@name='AccountManagementSoap11Binding')])" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <applicationSettings>
    <Neambc.Neamb.Foundation.MBCData.Properties.Settings>
      <setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_accountmng_AccountManagement" serializeAs="String" xdt:Locator="Match(name)"  xdt:Transform="Replace">
        <value>http://172.16.15.187:8080/axis2/services/AccountManagement.AccountManagementHttpSoap11Endpoint/</value>
      </setting>
      <setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_efulfillment_Efulfillment" serializeAs="String" xdt:Locator="Match(name)"  xdt:Transform="Replace">
        <value>http://172.16.15.187:8080/axis2/services/Efulfillment.EfulfillmentHttpSoap11Endpoint/</value>
      </setting>
      <setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_pdffactory_PdfFactory" serializeAs="String" xdt:Locator="Match(name)"  xdt:Transform="Replace">
        <value>http://172.16.15.187:8080/axis2/services/PdfFactory.PdfFactoryHttpSoap11Endpoint/</value>
      </setting>
      <setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_productrules_productRules" serializeAs="String" xdt:Locator="Match(name)"  xdt:Transform="Replace">
        <value>http://172.16.15.187:8080/axis2/services/productRules.productRulesHttpSoap11Endpoint/</value>
      </setting>
      <setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_compintrolife_compIntroLife" serializeAs="String" xdt:Locator="Match(name)"  xdt:Transform="Replace">
        <value>http://172.16.15.187:8080/axis2/services/compIntroLife.compIntroLifeHttpSoap11Endpoint/</value>
      </setting>
      <setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_encryptmercer_aes256EncryptDecrypt"
                 serializeAs="String">
        <value>http://172.16.15.187:8080/axis2/services/aes256EncryptDecrypt.aes256EncryptDecryptHttpSoap11Endpoint/</value>
      </setting>
      <setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_iceservice_iceapis" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>http://172.16.15.187:8080/axis2/services/iceapis.iceapisHttpSoap11Endpoint/</value>
      </setting>
      <setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_memberdata_memberdataversion2" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>http://172.16.15.187:8080/axis2/services/memberdataversion2.memberdataversion2HttpSoap11Endpoint/</value>
      </setting>
    </Neambc.Neamb.Foundation.MBCData.Properties.Settings>
    <Neambc.Seiumb.Foundation.WebServices.Properties.Settings>
      <setting name="Neambc_Seiumb_Foundation_WebServices_org_neambc_encryptafinium_aes256EncryptDecrypt"
               serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>http://172.16.15.187:8080/axis2/services/aes256EncryptDecrypt.aes256EncryptDecryptHttpSoap11Endpoint/</value>
      </setting>
    </Neambc.Seiumb.Foundation.WebServices.Properties.Settings>
  </applicationSettings>
</configuration>