<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<appSettings>
		<add key="role:define" value="#{Neamb.Sitecore.Role}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" xdt:Transform="Insert"/>
				<add name="Access-Control-Allow-Headers" value="X-AspNet-Version,X-Powered-By,Date,Server,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,Content-Length,Content-Type,Host,Origin,Pragma,Referer,User-Agent" xdt:Transform="Insert"/>
				<add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" xdt:Transform="Insert"/>
				<add name="Access-Control-Max-Age" value="1000" xdt:Transform="Insert"/>
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="Rewrite HTTP to HTTPS" stopProcessing="true" xdt:Transform="Insert">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
				</rule>
				<rule name="Cdn" enabled="false" patternSyntax="ECMAScript" stopProcessing="true" xdt:Transform="Insert">
					<match url="(^assets\/.+)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
						<add input="{HTTP_HOST}" pattern="(.+cdn.neamb.+)" negate="true" />
						<add input="{HTTP_CACHE_CLOUDFRONT}" pattern="true" negate="true" />
					</conditions>
					<action type="Redirect" url="https://cdn.neamb.com{REQUEST_URI}" logRewrittenUrl="true" redirectType="Permanent" />
				</rule>
				<rule name="rebranding" enabled="true" stopProcessing="true" xdt:Locator="Match(name)" xdt:Transform="Replace">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
						<add input="{HTTP_HOST}" pattern="m.secure.neamb.com" />
					</conditions>
					<action type="Redirect" url="https://qabl.neamb.com/{R:0}" redirectType="Permanent" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
<httpCookies sameSite="None" requireSSL="true" xdt:Transform="Replace" />
		<sessionState xdt:Transform="RemoveAttributes(cookieless,sessionIDManagerType)">
			<providers>
				<add name="redis" xdt:Locator="Match(name)" xdt:Transform="RemoveAttributes(compression)" />
				<add name="redis" xdt:Locator="Match(name)" applicationName="private-qa-blue" xdt:Transform="SetAttributes(applicationName)" />
				<add name="redis" xdt:Locator="Match(name)" databaseID="1" xdt:Transform="SetAttributes(databaseID)" />
			</providers>
		</sessionState>
		<sessionState mode="Custom" customProvider="redis" xdt:Transform="SetAttributes(mode,customProvider)" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="compIntroLifeSoap11Binding" xdt:Transform="Insert"/>
				<binding name="EnrollmentSoap" xdt:Transform="InsertBefore(/configuration/system.serviceModel/bindings/basicHttpBinding/binding[(@name='AccountManagementSoap11Binding')])">
					<security mode="Transport" >
						<transport clientCredentialType="None"/>
					</security>
				</binding>
				<binding name="EnrollmentSoap1" xdt:Transform="InsertBefore(/configuration/system.serviceModel/bindings/basicHttpBinding/binding[(@name='AccountManagementSoap11Binding')])"/>
				<binding name="productRulesSoap11Binding" xdt:Transform="InsertBefore(/configuration/system.serviceModel/bindings/basicHttpBinding/binding[(@name='AccountManagementSoap11Binding')])"/>
			</basicHttpBinding>
		</bindings>
		<client xdt:Transform="Replace">
			<endpoint address="http://neaws-qa.mbctech.net:8080/axis2/services/AccountManagement.AccountManagementHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="AccountManagementSoap11Binding" contract="NeambcServices.AccountManagementPortType" name="AccountManagementHttpSoap11Endpoint" />
			<endpoint address="http://neaws-qa.mbctech.net:8080/axis2/services/AccountManagement.AccountManagementHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="AccountManagementSoap11Binding" contract="AccountManagementService.AccountManagementPortType" name="AccountManagementHttpSoap11Endpoint" />
			<endpoint address="http://neaws-qa.mbctech.net:8080/axis2/services/PdfFactory.PdfFactoryHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="PdfFactorySoap11Binding" contract="PdfFactoryService.PdfFactoryPortType" name="PdfFactoryHttpSoap11Endpoint" />
			<endpoint address="http://neaws-qa.mbctech.net:8080/axis2/services/seiumb.seiumbHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="seiumbSoap11Binding" contract="EligibilityReference.seiumbPortType" name="seiumbHttpSoap11Endpoint" />
			<endpoint address="http://neaws-qa.mbctech.net:8080/axis2/services/seiumb.seiumbHttpSoap11Endpoint/test" binding="basicHttpBinding" bindingConfiguration="seiumbSoap11Binding" contract="EligibilityReference.seiumbPortTypeTest" name="seiumbHttpSoap11EndpointTest" />
			<endpoint address="http://neaws-qa.mbctech.net:8080/axis2/services/compIntroLife.compIntroLifeHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="compIntroLifeSoap11Binding" contract="CompIntroLifeService.compIntroLifePortType" name="compIntroLifeHttpSoap11Endpoint" />
			<endpoint address="https://afenroll.benselect.com/qx/enrollment.asmx" binding="basicHttpBinding" bindingConfiguration="EnrollmentSoap" contract="EnrollmentService.EnrollmentSoap" name="EnrollmentSoap" />
			<endpoint address="http://neaws-qa.mbctech.net:8080/axis2/services/productRules.productRulesHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="productRulesSoap11Binding" contract="EligibilityService.productRulesPortType" name="productRulesHttpSoap11Endpoint" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<Neambc.Neamb.Foundation.MBCData.Properties.Settings>
			<setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_accountmng_AccountManagement" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://neaws-qa.mbctech.net:8080/axis2/services/AccountManagement.AccountManagementHttpSoap11Endpoint/</value>
			</setting>
			<setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_efulfillment_Efulfillment" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://neaws-qa.mbctech.net:8080/axis2/services/Efulfillment.EfulfillmentHttpSoap11Endpoint/</value>
			</setting>
			<setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_pdffactory_PdfFactory" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://neaws-qa.mbctech.net:8080/axis2/services/PdfFactory.PdfFactoryHttpSoap11Endpoint/</value>
			</setting>
			<setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_productrules_productRules" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://neaws-qa.mbctech.net:8080/axis2/services/productRules.productRulesHttpSoap11Endpoint/</value>
			</setting>
			<setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_compintrolife_compIntroLife" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://neaws-qa.mbctech.net:8080/axis2/services/compIntroLife.compIntroLifeHttpSoap11Endpoint/</value>
			</setting>
			<setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_encryptmercer_aes256EncryptDecrypt" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://neaws-qa.mbctech.net:8080/axis2/services/aes256EncryptDecrypt.aes256EncryptDecryptHttpSoap11Endpoint/</value>
			</setting>
			<setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_iceservice_iceapis" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://neaws-qa.mbctech.net:8080/axis2/services/iceapis.iceapisHttpSoap11Endpoint/</value>
			</setting>
			<setting name="Neambc_Neamb_Foundation_MBCData_org_neambc_neamb_memberdata_memberdataversion2" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://neaws-qa.mbctech.net:8080/axis2/services/memberdataversion2.memberdataversion2HttpSoap11Endpoint/</value>
			</setting>
		</Neambc.Neamb.Foundation.MBCData.Properties.Settings>
		<Neambc.Seiumb.Foundation.WebServices.Properties.Settings>
			<setting name="Neambc_Seiumb_Foundation_WebServices_org_neambc_encryptafinium_aes256EncryptDecrypt" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://neaws-qa.mbctech.net:8080/axis2/services/aes256EncryptDecrypt.aes256EncryptDecryptHttpSoap11Endpoint/</value>
			</setting>
		</Neambc.Seiumb.Foundation.WebServices.Properties.Settings>
	</applicationSettings>
</configuration>