@using Neambc.Seiumb.Project.Web
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items


<main>
    @Html.Sitecore().Placeholder("single-column")

    @Html.Sitecore().Placeholder("help")
</main>
