<div class="row">
    @Html.Sitecore().Placeholder("left-column")
    <div class="small-12 medium-8 large-8 columns float-right">
        @Html.Sitecore().Placeholder("right-column")
    </div>
</div>